/* CSS Reset Modern */
:root {
  --text: #475467;
  --primary: #6941c6;
  --secondary: #7f56d9;
  --footer: #53389e;
  --border: #d0d5dd;
  --white: #ffffff;
  --dark: #101828;
  --label: #344054;
}


html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem; /* 16px - reset body text */
}

.header-container{  
 width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1.6rem 8rem;
  max-width: 144rem;
  margin: 0 auto; 
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.logo-nav {
  display: flex;
  align-items: center;
  gap: 0.8rem;                       
}

.logo-img {
  height: 3.2rem;        
  width: auto;         
  display: flex;
}

.logo-text {
  color: #2d98ff;      
  font-weight: 700;
  font-size: 1.8rem;     
  line-height: 1;   
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 3.2rem; 
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  font-size: 1.6rem;
  transition: opacity 0.3s;
}

.nav-links a:hover{
  opacity: 0.8;
}

/* Tombol */
.cta-btn {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.btn-login {
  border: none;
  background: none;
  font-weight: 600;
  font-size: 1.6rem;
  color: #757e8d;
  cursor: pointer;
  padding: 1rem 1.6rem;
  border-radius: 0.8rem;
  transition: background-color 0.3s;
}

.btn-login:hover{
  background-color: rgba(225, 225, 225, 0.1);
}

.btn-signup:hover{
  background-color: var(--primary);
}

.btn-signup {
  background-color: var(--secondary);
  color: var(--white);
  border: none;
  padding: 1rem 1.8rem;
  border-radius: 0.8rem; 
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.header-section{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 9.6rem 8rem;
}

.header-section .section-content{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  max-width: 80rem;
}

.header-section .section-content h2{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--secondary);
    margin-bottom: 0.4rem;  
}

.header-section .section-content h1{
    font-size: 4.8rem;
    font-weight: 600;
    color: var(--dark);
    margin-bottom: 0.8rem;
    letter-spacing: -0.02em;
    line-height: 6rem;
}

.header-section .section-content p{
    font-size: 2rem;
    font-weight: 400;
    color: var(--text);
    line-height: 3rem;
}

.section-container{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 9.6rem;
  flex: 1;
}

.content-form{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 48rem;
  margin: 0 auto;
}

.form-row{
  display: flex;
  gap: 2.4rem;
  width: 100%;
  flex-wrap: wrap;
}

.input-group{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  flex: 1;
}

.input-field {
  padding: 1rem 1.4rem;
  border: solid 1px #D0D5DD;
  border-radius: 0.8rem;
  width: 100%;
  font-size: 1.6rem;
  width: 100%;
  outline: none;
}

 .row{
  width: 100%;
  height: 2rem;
  font-weight: 500;
  font-size: 1.4rem;
  flex-direction: row;
  color: #344054;
}

.textarea-field {
  width: 100%;
  height: 12rem;
  border: solid 0.1rem  #D0D5DD;
  border-radius: 0.8rem;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  resize: vertical;
}


.agreement {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  font-size: 1.4rem;
  color: var(--text);
}

.agreement input {
  margin-top: 0.4rem;
}

.agreement label a {
    text-decoration: none; 
    color: #475467;      
    font-weight: 500;
    border-bottom: 0.1rem solid #475467;  
}


.agreement label a:hover {
    color: #7F56D9;   
    border-bottom: 0.1rem solid #7F56D9;
}

.submit-btn {
  width: 100%;
  padding: 1.2rem;
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.6rem;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background-color: var(--footer);
}

.footer{
  background-color: var(--footer);
  color: #ffff;
  width: 100%;
  margin-top: 9.4rem;
}

.cta{
  padding: 9.2rem 0 2.8rem;
  text-align: center;
}

.cta h1{
  font-size: 3.0rem;
  font-weight: 600;
}

.cta p{
  font-size: 2.0rem;
  font-weight: 40rem;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  align-items: center;
}

.view-demo{
  border: var(--text);
  background-color: #FFFFFF;
  border-radius: 0.2rem;
  text-decoration: none;
  justify-content: center;
  align-items: center;

}

.buttons .view-demo{
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem 2.0rem;    
  border: 0.1rem solid #D0D5DD; 
  border-radius: 0.8rem;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #344054;
}

.get-started{
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  padding: 1.2rem 2.0rem;
  border-radius: 0.8rem;
  background-color: var(--secondary);
  text-decoration: none;
  color: #FFFFFF;
  
} 

.get-started:hover{
  background-color: var(--primary);
}

.container-copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 40rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0%;
  margin-top: 3.2rem;
  margin-bottom: 4.8rem;
  color: #D6BBFB;
}
                                                                                                                                    

