/* CSS Reset Modern */
:root {
  --text: #475467;
  --primary: #7f56d9; 
  --bg-dark: #53389e;
  --white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

.header-container{
    display: flex;
    align-items: center;
    background-color: #53389e;
    padding: 0px;
    width: 100%;
}

.nav{
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 80px
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  color: var(--white);
  font-weight: 700;
  font-size: 20px;
}

.logo-img{
    width: 38px;
    height: 38px;
    display: flex;
}

.logo-text{
    width: 29px;
    height: 14px;
    color: #ffff;
    font-weight: 700;
    line-height: 1;
    font-size: 18px;

}

    
.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    color: #ffff;
    list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #ffff;
  font-weight: 600;
  font-size: 16px;
  width: 46px;
  height: 24px;
}

.cta-btn{
    display: flex;
    align-items: center;
    gap: 18px;
}

.cta-btn .btn-login{
    font-weight: 600;
    font-size: 16px;
    padding: 10px 16px;
    color: #ffff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background: none;
}

.cta-btn .btn-signup{
    font-weight: 600;
    font-size: 16px;
    padding: 10px 18px;
    color: #ffff;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    background-color: var(--primary);
}

.main{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Header/Hero Section */
.main-content {
  width: 100%;
  background-color: #ffffff; 
}

.hero-section {
  background-color: var(--bg-dark);
  color: var(--white);
  padding: 96px 20px 180px; 
  text-align: center;

}
.sub-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px; 
  letter-spacing: 0%;
  line-height: 24px;    
  color: #E9D7FE;
}

.title{
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2%;
  color: #ffff;
  margin-bottom: 24px;
}

.description{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    color: #E9D7FE;
    max-width: 800px;
    margin:0 auto;
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 32px; 
  max-width: 1200px;
  margin: -80px auto 60px; 
  padding: 0 20px;
  background-color: transparent;
} 

/* Card Styling */
.pricing-card {
  background: #ffffff !important;
  border: 1px solid #eaecf0;
  border-radius: 16px;
  padding: 32px;
  width: 100%; 
  max-width: 384px; 
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  display: flex;
  flex-direction: column;
  text-align: left;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #d0d5dd;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 14px;
  color: #344054;
  font-weight: 500;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: var(--primary);
  border-radius: 50%;
}

.price {
  font-size: 56px;
  font-weight: 700;
  color: #101828;
  margin-bottom: 8px;
  display: flex;
  align-items: baseline;
}

.price span {
  font-size: 20px;
  color: #475467;
  font-weight: 400;
}

.plan-desc {
  color: #475467;
  font-size: 16px;
  margin-bottom: 32px;
}

/* List Styling */
.features-list {
  list-style: none;
  padding: 0;
  margin: 32px 0;
  flex-grow: 1; 
}

.features-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  color: #475467;
  font-size: 16px;
  font-weight: 500;
}

.features-list img {
  width: 24px;
  height: 24px;
}

/* Button Styling */
.btn-get-started {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
  font-family: 'inter', sans-serif;
}

.btn-get-started:hover {
  background-color: #6941c6;
}


.badge-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.most-popular {
    font-size: 14px;
    background: #f9f5ff;
    color: #6941C6;
    padding: 4px 12px;
    border-radius: 16px;
    font-weight: 500;
}